<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>99 Beers</title>
  </head>
  <body>
  
    <h1>99 Beers</h1>
    <a href="/98">take one down pass it around</a>
  </body>
</html>
